
.img_cell {
	text-align: center;
}

.in_cell_image {
	margin: 0 auto;
	width: 58px;
}

.pages_scrollblock {
	overflow-x: scroll;
	height: 400px;
	margin-left: 15px;
	border: 1px solid #ccc;
}

.selected {
	background-color: #007bff;
	color: white;
}