

<table id="pagesTable" class="table table-striped table-bordered table-sm" style="width:100%;" cellspacing="0" width="100%">
	<tr><th>Pages:</th></tr>
	<tr (click)="selectPage(pg);" *ngFor="let pg of pages">
		<td [ngClass]="{'selected': pg==selectedPage }" class="img_cell">
			<img class="in_cell_image" src={{pg.ImageUrl}} title={{pg.Text}} />
		</td>
	</tr>
</table>
