
<div class="col-lg-2">
	<button id="add_page_button"  (click)="showModal();" class="btn">+</button>
</div>

<div *ngIf="showing" class="custom_modal">
	<div class="custom_modal_content">
	  <div class="modal-header">
		<h5 class="modal-title" id="add_page_modal_label">Add a page to document: {{selectedDocument.Name}}</h5>
		<button type="button" (click)="hideModal();" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
		<div class="modal-body">
			<form>
				<input type="hidden" value={{selectedDocument.ID}}>
				<div class="form-group">
					<label for="pageText_pageform">Page text</label>
					<input type="text" class="form-control" [(ngModel)]="pageText_pageform" name="pageText_pageform" id="pageText_pageform" placeholder="Page text" required>
				</div>
				<div class="form-group">
					<label for="pageUrl_pageform">Page image URL</label>
					<input type="url" class="form-control" [(ngModel)]="pageUrl_pageform" name="pageText_pageform" id="pageUrl_pageform" placeholder="http://www.image-url.com" required>
				</div>
			</form>
			<div *ngIf="pageFormInputErr" class="alert alert-warning">
			  <strong>Missing data!</strong> Please fill out all form fields.
			</div>
		</div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="hideModal();" data-dismiss="modal">Close</button>
		<button type="submit" (click)="postPage();" class="btn btn-primary">Save page</button>
	  </div>
	</div>
</div>