body {
    height: -webkit-fill-available;
}

.full_height {
	height: -webkit-fill-available;
}

/*@media only screen and (max-width: 600px) {
    .height_fill {
		height: -webkit-fill-available;
	}
}*/

.sidebar_title {
	/*margin-left:15px;*/
}

.header {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-bottom: 0.5em;
}

.header_content {
	margin-left:2em;
}

.img_cell {
	text-align: center;
}

.in_cell_image {
	margin: 0 auto;
	width: 58px;
}

.page_view_image {
	height: -webkit-fill-available;
}

.selected {
	background-color: #007bff;
	color: white;
}

/*Tabbing/paginating*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	display: inline-flex;
}

/* Style the buttons inside the tab */
.tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab div:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab div.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    /* border-top: none; */
    height: 350px;
}

.pages_scrollblock {
	overflow-x: scroll;
	height: 400px;
	margin-left: 15px;
	border: 1px solid #ccc;
}

.pagescontent {
	overflow-x: scroll; 
	height: 400px; 
	margin-left: 15px; 
	border: 1px solid #ccc;
}