
<!-- APP CONTENT START  -->		
<div class="content">
	<!--div class="row">
		<div class="col-lg-12 header" style="background-color: lightgray">
			<div class="header_content">
				Header menu
			</div>
		</div>
	</div-->
	<!-- SIDEBAR START -->
	<div class="row">
		<div class="col-lg-3" style="border-right: 1px solid #ccc;">
			<div class="row">
				<div class="col-lg-10">
				
					<div *ngIf="docCollectSuccess; else no_content" style="text-align:center;">
						<app-documentlist (selectEvent)="receiveDocumentSelection($event)" [paginatedDoctables]="paginatedDoctables" [paginatedDocs]="paginatedDocuments" ></app-documentlist>
					</div>
					<ng-template #no_content>
						Waiting for server respose
					</ng-template>
				</div>
				<app-adddocument></app-adddocument>
			</div>
			<hr>
			<div class="row">
				<div class="col-lg-10">
					<div *ngIf="pagesCollectSuccess; else no_pages" class="pages_scrollblock">
						<app-pageslist (selectPageEvent)="receivePageSelection($event)" [pages]="pages"></app-pageslist>
					</div>
					<ng-template #no_pages>
						Waiting for server respose
					</ng-template>
				</div>
				<app-addpage [selectedDocument]="selectedDocument" ></app-addpage>
			</div>
			<hr>
		</div>
		<!-- SIDEBAR END -->
		<!-- PAGE VIEW START -->
		<div class="col-lg-9 full_height">
			<app-pageview [pageShown]="singlePage"></app-pageview>
		</div>
		<!-- PAGE VIEW END -->
	</div>
</div>
<!-- APP CONTENT END -->

