
<div *ngFor="let docCollection of paginatedDocs; let i = index" [attr.data-index]="i" id={{i+1}}>
	<div class="tabcontent" *ngIf="i==paginateSelected">
		<table id="docTable"  style="text-align:left;" class="table table-striped table-bordered table-sm table-hover js-dataTable-full-pagination" cellspacing="0" width="100%">
			<tr><th>Documents:</th></tr>
			<tr (click)="selectDocument(doc);" *ngFor="let doc of docCollection">
				<td [ngClass]="{'selected': doc==docSelected }">
					{{ doc.Name }} ({{getTypename(doc.DocumentType)}})
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="tab" [ngClass]="{'selected_tab': (numPage-1)==paginateSelected }" *ngFor="let numPage of paginatedDoctables;" >
	<div class="tablinks" (click)="openTab($event);">{{numPage}}</div>
</div>


<!-- html + code from before separation into multiple components
	<div *ngIf="docCollectSuccess" style="text-align:center;">						
	<div class="tabcontent" *ngFor="let docCollection of paginatedDocuments; let i = index" [attr.data-index]="i" id={{i+1}} > <!-- *ngIf="selectedPaginatePage==(i+1)" >
		<table id="docTable" style="text-align:left;" class="table table-striped table-bordered table-sm table-hover js-dataTable-full-pagination" cellspacing="0" width="100%">
			<tr><th>Documents:</th></tr>
			<tr (click)="listDocPages(doc);" *ngFor="let doc of docCollection">
				<td [ngClass]="{'selected': doc==selectedDocument }" >
				{{ doc.Name }} ({{getTypename(doc.DocumentType)}})
				</td>
			</tr>
		</table>
	</div>
	<!--div class="tab" (click)="openTab($event);"><</div>
	<div class="tab" *ngFor="let numPage of paginatedDoctables;" >
		<div class="tablinks" (click)="openTab($event);">{{numPage}}</div>
	</div-->
	<!--div class="tab" (click)="openTab($event);">></div>
</div-->