/* Selected document styling */
.selected {
	background-color: #007bff;
	color: white;
}

.selected_tab {
	color: #007bff;
}

/* Style the tab content */
.tabcontent {
    display: block;
    padding: 6px 12px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    /* border-top: none; */
    height: 350px;
}

/*Tabbing/paginating*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	display: inline-flex;
}

/* Style the buttons inside the tab */
.tab div {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab div:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab div.active {
    background-color: #ccc;
}

.hidden {
	diaplay: none;
}