
<div class="col-lg-2">
	<button id="add_document_button" (click)="showModal();" class="btn">+</button>
</div>

<div *ngIf="showing" class="custom_modal">
		<div class="custom_modal_content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Add a new document</h5>
			<button type="button" (click)="hideModal();" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form ngNativeValidate>
				<div class="form-group">
					<label for="docName_docform">Document name</label>
					<input type="text" class="form-control" [(ngModel)]="docName_docform" name="Name" id="docName_docform" placeholder="Document name" required>
				</div>
				<div class="form-group">
					<label for="docType_docform">Document type</label>
					<select class="form-control" [(ngModel)]="docType_docform" name="DocumentType" id="docType_docform" required>
						<option *ngFor="let type of docTypes" value={{type.key}}>{{type.name}}</option>
					</select>
				</div>
				
			</form>
			<div *ngIf="docFormInputErr" class="alert alert-warning">
			  <strong>Missing data!</strong> Please fill out all form fields.
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" (click)="hideModal();" data-dismiss="modal">Close</button>
			<button type="submit" (click)="postDocument();" class="btn btn-primary">Save document</button>
		  </div>
		</div>
</div>